.header {
  width: 100%;
  padding-top: 16px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.avatar-view {
  width: 40%;
  height: 700px;
  margin-right: auto;
}
.avatar {
  width: 100%;
  height: 100%;
}
.name {
  font-weight: 800;
  font-size: 50px;
  text-align: left;
}
.name-sub-title {
  font-weight: 800;
  font-size: 40px;
  text-align: left;
}
.header-content {
  padding-left: 50px;
  width: 60%;
}
.job-title {
  background-color: #d37676;
  border-radius: 35px;
  width: 500px;
  padding: 0.1px;
  margin-top: -50px;
}
.job-title-text {
  color: #fff;
}
.header-description {
  text-align: left;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-align: justify;
  font-weight: 800;
}
